.logo{
    width: 260px;
    float:righ;
    padding-top:20px;
    margin-bottom:20px
}
.titulo{
    color: #212d78;
    font-size:16pt; 
    float:right
    }
.container-titulo{
    padding: 40px;
  }
nav{
background-color: #212d78;
height: 50px;
color: white;
font-size: 16pt;
padding:6px;
}
 aside{
height: 500px;
 }
 main{
height: 450px;
text-align: center;
border-left:1px solid #dadada;
 }

 .logo2{
width: 560px;
padding-top:50px;
}
.caja-login{
height:200px;
border: 1px solid #C1BDBD;
border-radius:5px;
margin-top:7px;
background-color: #f5f5f5
}
.caja{
height:80px;
border: 1px solid #C1BDBD;
border-radius:5px;
margin-top:7px;
background-color: #f5f5f5;
}